body.dark {
  --bg-logo-tpu: #fbfbfb;

  --bg-color: #202020;
  --text-color: #f5f5f5;
  --text-ghost-color: #9c9c9c;
  --link-color: #55c381;
  --link-light-color: #b7ddc7;
  --border-color: #3c3c3c;
  --shadow-color: #151515;

  --bg-color-1: #2f3136;
  --bg-color-layout: #202225;
}