body.light {
  --bg-logo-tpu: #202020;

  --bg-color: #efefef;
  --text-color: #333333;
  --text-ghost-color: #737373;
  --link-color: #0e9243;
  --link-light-color: #ceeddb;
  --border-color: #f3f3f3;
  --shadow-color: #bdbdbd;

  --bg-color-1: #fafafa;
  --bg-color-layout: #ffffff;
}