@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

@font-face {
  font-family: 'TPUFontBold';
  src: local('TPUFontBold'), url(./fonts/ALS_Sirius_Bold.otf) format('truetype');
}
@font-face {
  font-family: 'TPUFontRegular';
  src: local('TPUFontRegular'), url(./fonts/ALS_Sirius_Regular.otf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'MontserratBold';
  src: local('Montserrat-Bold'), url(./fonts/Montserrat-Bold.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'MontserratRegular';
  src: local('Montserrat-Regular'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
}

/* scrollbar для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* доп. настройки scrollbar для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #80bf44 transparent;
}


body {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  &:hover {
    color: var(--link-color);
  }
}

h1 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

h4 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

ul {
  margin-left: 20px;
}

