$green-1: #539d2d;
$orange-1: #f29651;

body {
  margin: 0;
}

.bg-green-1 {
  background: $green-1;
}

.bg-orange-1 {
  background: $orange-1;
}

.bg-gragient-1 {
  background: linear-gradient(110deg, $orange-1 0%, $orange-1 45%, $green-1 45%, $green-1 70%, transparent 99%);
}

.main-header{
  background:  linear-gradient(110deg, rgba(55, 65, 81, 0) 0%, rgba(242,150,81,0.8) 45%, rgb(0, 0, 0, 0.2) 45%), url("./assets/images/fon.jpg"); 
  transition: all 0.1s ease; 
  width: 100%;
  padding-bottom: 80px;
  overflow: hidden;

  /*ANIMATION*/
  .animation_bubble li {
    position: absolute;
    display: block;
    list-style: none;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    bottom: 0px;
    box-shadow: 0 0 10px #ffffff;
  }
  @keyframes animation_bubble {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    100% {
      transform: translateY(-900px);
      opacity: 0;
    }
  }
}

.catalog {
  padding: 20px 0;
}

@keyframes pulse {
  from {background-size: 115%; background-position: bottom;}
  50% {background-size: 140%; background-position: -300px 0px}
  75%{background-size: 135%; background-position: -200px 0px}
  to {background-size: 115%; background-position: bottom;}
}
@media all and (min-width: 1600px){
  .main-header{animation: pulse 40s infinite ease-in-out;}
  /*.user_card{display:flex;}*/
}
@media all and (max-width: 1599px){
  .main-header{background-size: cover;}
  /*.user_card{display: none;}*/
}
