body {
  margin: 0;
}

.main-header{
  background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./assets/images/fon.jpg"); 
  min-height: 80vh;
  transition: all 0.1s ease; 
  width: 100%;

  /*ANIMATION*/
  .animation_bubble {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .animation_bubble li {
    position: absolute;
    display: block;
    list-style: none;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    bottom: -30px;
  }
  @keyframes animation_bubble {
    0% {
      opacity: 1;
    }
    100% {
      transform: translateY(-900px);
      opacity: 0;
    }
  }
}

@keyframes pulse {
  from {background-size: 100%; background-position: 0px -200px;}
  50% {background-size: 110%; background-position: -150px -180px}
  75%{background-size: 105%; background-position: -50px -150px}
  to {background-size: 100%; background-position: 0px -200px;}
}
@media all and (min-width: 1600px){
  .main-header{animation: pulse 40s infinite ease-in-out;}
  /*.user_card{display:flex;}*/
}
@media all and (max-width: 1599px){
  .main-header{background-size: cover;}
  /*.user_card{display: none;}*/
}
